h1 {
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    margin-right: 23px;
    background-color: blue;
    color: white;
    text-transform: uppercase;
    text-decoration: dotted;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

h1:hover {
    color: red;
    background-color: greenyellow;
}